/* Colors */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
}
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 10px;
}

.flaticon-right-arrow:before {
  content: "\f100";
  width: 7px;
  height: 12px;
  color: #daafc2;
  line-height: 40px;
  margin-left: 12px;
}

.flaticon-left-arrow:before {
  content: "\f101";
  width: 7px;
  height: 12px;
  color: #daafc2;
  line-height: 40px;
  margin-left: 8px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', 'serif';
  margin: 0;
  outline: none;
}

.error-message {
  display: none;
  position: absolute;
  top: 2%;
  left: 104%;
  font-size: 14px;
  color: #f9fbfd;
  min-width: 170px;
  background: rgba(176, 0, 2, 0.5);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(251, 251, 251, 0.3);
  box-shadow: 0px 0px 10px rgba(251, 251, 251, 0.3);
}

.main {
  min-height: 670px;
  padding-top: 10px;
  background: url("../img/22.jpg") center no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-cards-item {
  text-align: center;
  width: 370px;
  min-height: 510px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.main-cards-item-active {
  background-color: #f2f2f2;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

.main-cards-item .candidate-block {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-cards-item .candidate-block .person {
  width: 90px;
  height: 195px;
  position: relative;
}

.main-cards-item .candidate-block .person-skin {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 90px;
  height: 195px;
  background-size: cover;
}

.main-cards-item .candidate-block .person-clothes {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 90px;
  height: 195px;
  background-size: cover;
}

.main-cards-item .candidate-block .person-hair {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 90px;
  height: 195px;
  background-size: cover;
}

.main-cards-item .candidate-block .person-shoes {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 90px;
  height: 195px;
  background: url("../img/clothes/construct/shoes.png") center no-repeat;
  background-size: cover;
}

.main-cards-item .candidate-block .photo {
  width: 90px;
  height: 195px;
  margin-right: 30px;
  background-size: cover;
}

.main-cards-item .candidate-block .photo-1 {
  background: url("../img/candidate-1.png") center no-repeat;
}

.main-cards-item .candidate-block .photo-2 {
  background: url("../img/candidate-2.png") center no-repeat;
}

.main-cards-item .candidate-block .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-item: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

.main-cards-item .candidate-block .result-count {
  min-width: 52px;
  font-size: 22px;
  font-weight: 700;
}

.main-cards-item .candidate-block .result .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  width: 10px;
  height: 160px;
  border-radius: 5px;
  background-color: rgba(222, 175, 167, 0.15);
}

.main-cards-item .candidate-block .result .progress-bar {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#302a2c), to(#e4dedf));
  background-image: linear-gradient(to top, #302a2c 0%, #e4dedf 100%);
  border-radius: 5px;
  -webkit-transition: 3s;
  transition: 3s;
}

.main-cards-item .candidate-block .result .progress-bar-1 {
  height: 35%;
}

.main-cards-item .candidate-block .result .progress-bar-2 {
  height: 65%;
}

.main-cards-item .name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 20px;
}

.main-cards-item .age {
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}

.main-cards-item .sex {
  color: #3e0c11;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
}

.main-cards-item .views {
  color: #3e0c11;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main-cards-item .bio {
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  max-width: 100%;
}

.main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-buttons .btn {
  font-family: 'Exo 2';
  margin-top: 30px;
  width: 280px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, right top, from(#c8cba5), color-stop(80%, #daafc2));
  background-image: linear-gradient(to right, #c8cba5 0%, #daafc2 80%);
  color: #302a2c;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-buttons .btn:hover {
  background-color: #daafc2;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 42, 44, 0.7);
  opacity: 0.8;
  z-index: 3;
  opacity: 1;
}

.overlay .popup {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 150px;
  width: 570px;
  height: 254px;
  border-radius: 15px;
  background-color: #f9fbfd;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay .popup-title {
  margin-top: 50px;
  color: #3e0c11;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.overlay .popup-subtitle {
  margin-top: 15px;
  color: #302a2c;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.overlay .popup-btn {
  font-family: 'Exo 2', 'sans-serif';
  margin-top: 30px;
  width: 270px;
  height: 60px;
  border-radius: 30px;
  border: none;
  color: #302a2c;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #c8cba5;
  background-image: -webkit-gradient(linear, left top, right top, from(#c8cba5), color-stop(80%, #daafc2));
  background-image: linear-gradient(to right, #c8cba5 0%, #daafc2 80%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .popup-btn:hover {
  background-color: #daafc2;
  -webkit-box-shadow: 0 0 15px #302a2c;
  box-shadow: 0 0 15px #302a2c;
  cursor: pointer;
}

.new-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 42, 44, 0.7);
  opacity: 0.8;
  z-index: 3;
  opacity: 1;
}

.new-overlay .new-popup {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 150px;
  width: 570px;
  height: 234px;
  border-radius: 15px;
  background-color: #f9fbfd;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-overlay .new-popup-title {
  margin-top: 50px;
  color: #302a2c;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.new-overlay .new-popup-btn {
  font-family: 'Exo 2', 'sans-serif';
  margin-top: 40px;
  width: 270px;
  height: 60px;
  border-radius: 30px;
  border: none;
  color: #302a2c;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #c8cba5;
  background-image: -webkit-gradient(linear, left top, right top, from(#c8cba5), color-stop(80%, #daafc2));
  background-image: linear-gradient(to right, #c8cba5 0%, #daafc2 80%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.new-overlay .new-popup-btn:hover {
  background-color: #daafc2;
  -webkit-box-shadow: 0 0 15px #302a2c;
  box-shadow: 0 0 15px #302a2c;
  cursor: pointer;
}

.custom {
  width: 100%;
  min-height: 670px;
  z-index: 6;
  background-color: rgba(28, 32, 40, 0.06);
  background: url("../img/205.jpg") 48% 100% no-repeat;
  background-size: cover;
  display: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 30px;
}

.custom-info {
  display: none;
  padding-top: 10px;
  width: 370px;
  height: 600px;
  border-radius: 10px;
  text-align: center;
  background-color: #302a2c;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b35), to(#2f3540));
  background-image: linear-gradient(to right, #262b35 0%, #2f3540 100%);
}

.custom-info label {
  display: block;
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 20px;
}

.custom-info input[type="text"] {
  width: 270px;
  height: 60px;
  border-radius: 30px;
  background-color: #1c2028;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 0 15px;
}

.custom-info input[type="text"]:focus {
  border: 2px solid rgba(218, 175, 194, 0.7);
}

.custom-info .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 45px;
}

.custom-info .radio label {
  margin: 0;
  margin-right: 30px;
  font-size: 15px;
  opacity: .8;
}

.custom-info .radio input[type="radio"] {
  margin-right: 15px;
}

.custom-info select {
  width: 270px;
  height: 60px;
  border-radius: 30px;
  background-color: #1c2028;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-align-last: center;
  padding: 0 15px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none !important;
  appearance: none !important;
}

.custom-info textarea {
  font-size: 15px;
  font-weight: 300;
  width: 270px;
  height: 115px;
  border-radius: 30px;
  background-color: #1c2028;
  border: none;
  color: #fff;
  padding: 10px 20px;
  resize: none;
}

.custom-info textarea:focus {
  border: 2px solid rgba(218, 175, 194, 0.7);
}

.custom-info .cleaner-btn {
  color: #daafc2;
  width: 270px;
  height: 32px;
  border-radius: 30px;
  background-color: #1c2028;
  border: none;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin: 20px auto;
  line-height: 14px;
  padding: 9px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-info .cleaner-btn:hover {
  -webkit-box-shadow: 0 0 15px #daafc2;
  box-shadow: 0 0 15px #daafc2;
  cursor: pointer;
}

.custom-char {
  display: none;
  width: 370px;
  height: 600px;
}

.custom-char .person {
  width: 230px;
  height: 500px;
  margin: 35px auto 0;
}

.custom-char .person-skin {
  position: absolute;
  margin-top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 180px;
  height: 450px;
  background-image: url("../img/skin/skin-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-char .person-clothes {
  position: absolute;
  margin-top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 180px;
  height: 450px;
  background-image: url("../img/clothes/construct/clothes-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-char .person-hair {
  position: absolute;
  margin-top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 180px;
  height: 450px;
  background-image: url("../img/hair/construct/hair-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-char .person-shoes {
  position: absolute;
  margin-top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 180px;
  height: 450px;
  background: url("../img/clothes/construct/shoes.png") center no-repeat;
  background-size: cover;
}

.custom-char .btn {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 150px;
  height: 50px;
  line-height: 45px;
  border-radius: 10px;
  border: 2px solid #daafc2;
  color: #daafc2;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Exo 2', 'sans-serif';
  -webkit-box-shadow: 0 0 15px #daafc2;
  box-shadow: 0 0 15px #daafc2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-char .btn:hover {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
  text-shadow: 0 0 0.5px #fff;
}

.custom-style {
  display: none;
  width: 370px;
  height: 600px;
  border-radius: 10px;
  padding: 60px 20px 0 20px;
  background-color: #191e25;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b35), to(#2f3540));
  background-image: linear-gradient(to right, #262b35 0%, #2f3540 100%);
}

.custom-style .style-text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.5;
}

.custom-style .prev,
.custom-style .next {
  width: 40px;
  height: 40px;
  background-color: #1c2028;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-style .prev:hover,
.custom-style .next:hover {
  -webkit-box-shadow: 0 0 15px #deafa7;
  box-shadow: 0 0 15px #deafa7;
}

.custom-style .skin,
.custom-style .hair,
.custom-style .clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.custom-style .skin-color-1,
.custom-style .hair-color-1,
.custom-style .clothes-color-1 {
  width: 160px;
  height: 80px;
  border-radius: 10px;
  background-color: #ffdbb4;
}

.custom-style .skin-color-2,
.custom-style .hair-color-2,
.custom-style .clothes-color-2 {
  width: 160px;
  height: 80px;
  border-radius: 10px;
  background-color: #e2a17f;
}

.custom-style .skin-color-3,
.custom-style .hair-color-3,
.custom-style .clothes-color-3 {
  width: 160px;
  height: 80px;
  border-radius: 10px;
  background-color: #a5673f;
}

.custom-style .hair-style-1 {
  width: 160px;
  height: 80px;
  background: #f9fbfd url("../img/hair/slide/hair-1.png") center no-repeat;
  background-size: 40%;
  border-radius: 10px;
}

.custom-style .hair-style-2 {
  display: none;
  width: 160px;
  height: 80px;
  background: #f9fbfd url("../img/hair/slide/hair-2.png") center no-repeat;
  background-size: 40%;
  border-radius: 10px;
}

.custom-style .hair-style-3 {
  display: none;
  width: 160px;
  height: 80px;
  background: #f9fbfd url("../img/hair/slide/hair-3.png") center no-repeat;
  background-size: 40%;
  border-radius: 10px;
}

.custom-style .hair-style-4 {
  display: none;
  width: 160px;
  height: 80px;
  background: #f9fbfd url("../img/hair/slide/hair-4.png") center no-repeat;
  background-size: 40%;
  border-radius: 10px;
}

.custom-style .hair-style-5 {
  display: none;
  width: 160px;
  height: 80px;
  background: #f9fbfd url("../img/hair/slide/hair-5.png") center no-repeat;
  background-size: 40%;
  border-radius: 10px;
}

.custom-style .hair-style-6 {
  display: none;
  width: 160px;
  height: 80px;
  background: #f9fbfd url("../img/hair/slide/hair-6.png") center no-repeat;
  background-size: 40%;
  border-radius: 10px;
}

.custom-style .clothes-style-1 {
  width: 160px;
  height: 80px;
  background: #daafc2 url("../img/clothes/slide/clothes-1.png") center no-repeat;
  background-size: 20%;
  border-radius: 10px;
}

.custom-style .clothes-style-2 {
  display: none;
  width: 160px;
  height: 80px;
  background: #daafc2 url("../img/clothes/slide/clothes-2.png") center no-repeat;
  background-size: 20%;
  border-radius: 10px;
}

.custom-style .clothes-style-3 {
  display: none;
  width: 160px;
  height: 80px;
  background: #daafc2 url("../img/clothes/slide/clothes-3.png") center no-repeat;
  background-size: 20%;
  border-radius: 10px;
}

.custom-style .clothes-style-4 {
  display: none;
  width: 160px;
  height: 80px;
  background: #daafc2 url("../img/clothes/slide/clothes-4.png") center no-repeat;
  background-size: 20%;
  border-radius: 10px;
}

.custom-style .clothes-style-5 {
  display: none;
  width: 160px;
  height: 80px;
  background: #daafc2 url("../img/clothes/slide/clothes-5.png") center no-repeat;
  background-size: 20%;
  border-radius: 10px;
}

.custom-style .clothes-style-6 {
  display: none;
  width: 160px;
  height: 80px;
  background: #daafc2 url("../img/clothes/slide/clothes-6.png") center no-repeat;
  background-size: 20%;
  border-radius: 10px;
}